#reLeftColumn {
    overflow-y: scroll;
    height: 550px;
}

#reInfo {
    float: right;
    position: relative;
    width: auto;
    font-size: 25px;
}
.reColumn {
    float: left;
    width: 50%;
    position: relative;
}
.reForm {
    margin: 5px;
}
.reButton {
    width: 90%;
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid #b5b3a4;
    font-size: 14px;
    line-height: 28px;
    font-family: "Signika", sans-serif;
    display: block;
    margin: 5px auto;
}